/**
Name: Ashlyn Roice
CS132 Spring 2025
Date: June 10, 2025
Description: This is the index.css file for Ada, which styles the landing page of the website. 
**/
main {
    flex-direction: row;
}

#title-content {
    margin-top: 40px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.75);
    margin-bottom: 40px;
    margin-left: 50px;
    border-radius: 30px;
    box-shadow: 10px 20px 0px #000000;
    padding: 30px;
    flex-wrap: wrap;
}

p {
    font-size: 0.25em;
}

#title-content img {
    width: 25%;
}

#title-content p{
    text-align: justify;
    padding-right: 20px;
    font-size: 2.5em;
    margin-left: 50px;
}

#title-content, #title-content img, #title-content p {
    margin-right: 50px;
}