/**
Name: Ashlyn Roice
CS132 Spring 2025
Date: June 12, 2025
Description: This is the contact.css page for my web project Ada. This dictates the styling for the 
FAQ and contact form.
*/

body {
    font-family: 'Inter', 'sans serif';
}

main {
    margin: 0 auto;
}

#login-form {
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 1.5em;
}

.form-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    border-radius: 20px;
    font-family: 'Inter', 'san serif';
    padding: 20px 40px;
}

.question-header {
    font-weight: bold;
    color: darkslategrey;
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}

.form-unit input[type="text"] {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    width: 80%;
    max-height: 20px;
}

.submit-sign {
    padding: 20px 40px;
    color: white;
    background-color: darkblue;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
}

#success-msg {
    margin: 0px 0px;
}
