/**
Name: Ashlyn Roice
CS132 Spring 2025
Date: June 12, 2025
Description: This is the product.css page for my web project Ada. It styles each of the 
information cards for each center in a retro yet calming fashion.
*/

/* filters */
#filters {
    margin: 40px auto 20px;
    text-align: center;
}

#filters label {
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Inter', 'sans serif';
}

#filters input[type="text"] {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid black;
    width: 300px;
    max-width: 80%;
    max-height: 20px;
}

#filters button {
    padding: 8px 16px;
    background-color: darkblue;
    color: white;
    border-radius: 8px;
}

/* summary cards */
#location-cards {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0px 20px 40px;

}

.summary-card {
    flex: 1 1 350px;
    max-width: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    border-radius: 20px;
    font-family: "Inter", "sans serif";
}   

.summary-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
}

.summary-card p{
    margin: 10px 0px;
    font-size: 2em;
    font-weight: 200px;
}

/* ask about this one - can't use > .nth-child(2) */
.summary-card .center-name {
    font-weight: bold;
    font-size: 2.5em;
    color: darkslategray;
    margin: 0px;
    line-height: 1;
}

.center-name:hover {
    color: darkblue;
}

.center-header {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 10px;
    margin-top: 10px;
}

.center-header button {
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    padding: 0px 10px;
    height: 40px;
    margin-top: 0px;
}

.center-header button.favorited {
    background-color: grey;
}

.center-header button:hover {
    background-color: darkslategrey;
}

label {
    font-size: 1.5em;
}

#filter button, .summary-card, .center-header button {
    border: none;
}

#location-cards, .center-header, .summary-card {
    display: flex;
    align-items: center;
}